/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}




/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
    cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 35px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    bdrOne($blueLight)
    background: $fff;
}

/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px
    left: 2px
    width: 22px;
    height: 22px;
    border-radius: 50%;
    bdrOne(transparent)
    background-coclor: #fff;
    background-image none
    background-position 50% 50%

    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
///* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
//    background: $yellow;
}
///* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
    background: $yellow url("/img/checkbox__bg.png") no-repeat 50% 50%;
}
///* Показываем получение фокуса. */
//.checkbox:focus + label:before {
//    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
//}



//Селекты

.select
    bdrAll($grayLight, 1px)
    border-radius 4px
    background: linear-gradient(to bottom, #fefefe, #f2f4f7);
    font-size 14px
    padding 5px 10px

.button
    cursor pointer
    border none
    text-transform uppercase
    font-size 16px
    position relative
    outline none
    border-radius 4px
    trns($th, background )
    margin 0
    background-color $grayLight
    display inline-block

    &__icon
        position relative
        width 28px
        line-height 20px
        display inline-block
        text-align center
        background 50% no-repeat
        background-image url("/img/button__img--cart.png")
        &::after
            visibility: hidden;
            content: '\00A0';


    &__text
        position relative
        display inline-block
        line-height 20px

    &::before
        position absolute
        top: 1px
        right: 1px
        bottom: 1px
        left: 1px
        content: ''
        border-radius: 4px
        background: $yellow
        trns($th, background )
    &:hover::before
            background $yellowGradientDark

    &--white
        &::before
            background white
        &:hover::before
            background white
            top: 2px
            right: 2px
            bottom: 2px
            left: 2px
        &:hover
            background $yellow

    &--left
        &::before
            border-radius 0
            border-top-left-radius 4px
            border-bottom-left-radius 4px

    &--right
        &::before
            border-radius 0
            border-top-right-radius 4px
            border-bottom-right-radius 4px
    &--transparent
        background #fff






.input
    position relative
    display inline-block
    margin-left 1px
    &__box
        //padding-right 30px
        display block
        cursor text
        position relative
        box-sizing border-box
        &::before
            bdrOne($grayLight,4px)
            background-color #fff
            background-clip padding-box
            transition $th ease-out
            transition-property border-color, border-width
            position absolute
            top 0
            right 0
            bottom 0
            left 0
            padding 0
            content ''



        &--focus
            &:before
                border-color $yellow
                border-width 2px


    &__control
        z-index 3
        width 100%
        margin 0
        padding 0
        vertical-align top
        color #000
        border 0 solid transparent
        outline 0
        background 0 0
        -webkit-tap-highlight-color rgba(0,0,0,0)
        -webkit-appearance none
        position relative
        box-sizing border-box
        border-right-width 10px
        border-left-width 10px
        font-family inherit
        &--center
            text-align center