$grayDark = #3a3a3a
$gray = #aaaaaa
$grayLight = #c6c4c4



$yellowLight = #fce3af


$yellow = #fedb3a
$yellowGradientDark = #fcc532



$blue = #4e6686
$blueLight= #dce2ea


$pattern = "/img/pattern.png"

$th = 0.25s




