@import 'lib/smart-grid.styl';
@import 'lib/fonts-lib.styl';
@import 'lib/mixin-lib.styl';
@import 'lib/var-lib.styl';


@import 'lib/slick-lib.styl';
@import 'lib/slick-theme-lib.styl';



.debug
    debug(rgba(0, 0, 0, 0.5), 1px solid #666)

.page
    &--theme
        font 14px/2.14 'Roboto', sans-serif
        min-height 100vh
        margin 0
        color $grayDark
        background #fff
        min-width 100%
        min-height 100%



.layout
    &__topMenu
        wrapper()
    &__header
        wrapper()
    &__middleMenu
        wrapper()
    &__title
        wrapper()
    &__hitProducts
        wrapper()
    &__main
        wrapper()
    &__footer
        wrapper()
    &__breadcrumbs
        wrapper()
    &__content
        wrapper()
    &__row
        row-flex()
    &__cell
        col()

.title
    font-family: 'Raleway', sans-serif
    sm text-align center



.titleLine
    font-family: 'Raleway', sans-serif
    font-weight 600
    padding 5px 60px
    &--main
        text-align center
    &__text
        position relative
        font-size 24px
        sm font-size 20px
        sm display block
        sm text-align center
        &::before
            content ""
            position absolute
            width 55px
            height 2px
            background $yellow
            left -65px
            top 50%
        &::after
            content ""
            position absolute
            width 55px
            height 2px
            background $yellow
            right -65px
            top 50%
    &__xl
        font-size 30px
    &__md
        font-size 24px

.link
    text-decoration none
    color $yellow



.line
    width 100%
    &--bdr
        bdr(bottom, $grayLight)

    &--bg
        &Yellow
            background $yellowLight
        &Gray
            background $grayDark

.header
    padding-top 40px
    padding-bottom 40px
    &__inner
        row-flex()
    &__logo
        col()
        size(3)
        size-md(6)
        md order 0
        text-align center
        align-self center

    &__address
        col()
        size(3)
        size-md(6)
        md order 2
        align-self center
        md text-align center
    &__phone
        col()
        size(3)
        size-md(6)
        md order 3
        align-self center
        text-align center
    &__miniCart
        col()
        size(3)
        size-md(6)
        md order 1
        align-self center


.topMenu
    &__control
        display none
        md display block
        padding-left 40px
        background url("/img/sandwich__ico.png")        no-repeat 5px 50%
        text-decoration none
        color $grayDark
        font-size  18px
        trns($th,color)
        &:hover
            color $yellow

    &__drop
        md position absolute
        background #ffffff
        z-index 1000
        &--hidden
            md max-height 0
            overflow hidden
            transition max-height $th ease-in-out
        &--visible
            height auto
            max-height 400px
            overflow hidden
            transition max-height $th ease-in-out


    &__link
        display inline-block
        text-decoration none
        padding 0 15px
        color $grayDark
        trns($th, background )
        md display block
        md background-color #fff
        md margin-bottom 2px
        md font-size 16px
        md padding-left 40px
        md padding-right 30px
        md border-width 1px
        md border-color $grayLight
        md border-style solid
        &:hover
            background $yellowLight
        &--first
            position relative
            padding-left 25px
            md padding-left 40px
            &::before
                content ""
                background url("/img/home__ico.png") no-repeat
                width 13px
                height 11px
                position absolute
                bottom 10px
                left 5px
                md background none
                md position relative
                md height 0
                md width 0






.logo
    &__img
        display block
        margin auto
        max-width 100%
.address
    md margin-top 30px
    &__line
        position relative
        padding-left 30px
        md padding-left 20px
        sm font-size 13px

        &::before
            content ""
            background url("/img/mapMark.png") no-repeat
            position absolute
            height 19px
            width 14px
            left 0

.phone
    md margin-top 30px
    &__line
        display block
        sm font-size 13px
        md display inline-block
        &--footer
            text-decoration underline

.miniCart
    display flex
    &__image
        align-self center
        position relative
        width 50%

        text-align right
    &__img
        max-width 100%
        align-self center
        display inline-block
        margin auto

    &__totalItem
        align-self center
        display block
        position absolute
        background $yellow
        border-radius 30%
        line-height 14px
        padding 2px 7px
        right 47px
    &__info
        align-self center
        width 50%
        text-align center
        line-height 20px







.middleMenu
    &__control
        display none
        sm display block
        padding-left 40px
        padding-top 5px
        padding-bottom 5px
        background $yellow url("/img/sandwich__ico.png")        no-repeat 5px 50%
        text-decoration none
        color $grayDark
        font-size  18px
        trns($th,background-color)
        &:hover
            background-color $yellowLight
    &__drop
        background $yellow
        sm background #fff
        sm position absolute
        z-index 1000
        &--hidden
            sm max-height 0
            overflow hidden
            transition max-height $th ease-in-out
        &--visible
            height auto
            max-height 400px
            overflow hidden
            transition max-height $th ease-in-out


    &__link
        display inline-block
        text-decoration none
        padding 5px 55px
        md padding-left 50px
        md padding-right 50px
        color $grayDark
        trns($th, background )
        font-size 16px
        bdr(right, $yellowLight, 2px)
        sm display block
        sm background-color $yellowLight
        sm margin-bottom 2px
        sm font-size 16px
        sm padding-left 40px
        sm padding-right 50px
        &--first
            sm margin-top 2px
        &:hover
            background $yellowLight



.hitProducts
    &__title
        padding-top 20px
        padding-bottom 10px
    &__inner
        width 100%
        background url($pattern)
        position relative

.slick-track
    display flex
    align-items stretch

.item
    text-align center
    padding-bottom 10px
    display flex
    flex-direction column

    &__title
        font-size 16px
        text-transform uppercase
        padding-top 10px
        padding-bottom 10px
        md font-size 14px
        flex-grow 1

    &__link
        color $grayDark
    &__img
        max-width 100%
    &__price
        background #fff
        padding 2px 10px
        display inline-block
        font-size 14px
        align-self center




.main
    padding-bottom 100px
    sm padding-bottom 30px
    &__title
        padding-top 30px
        padding-bottom 0px
        display block
.footer
    color #fff
    &__item
        size(3)
        size-md(6)
        size-sm(12)
        sm text-align center
        padding-bottom 20px
    &__title
        font-size 18px
        bdr(bottom, #fff, 2px)
        margin-bottom 20px


    &__menuItem
        display block
        color #fff
        trns($th,color)
        &:hover
            color $yellow

    &__schedule
        width 100%
    &__logo
        padding-top 20px
        display block
        margin auto

    &__phone
        display block
        text-align center
        margin 30px auto
    &__mail
        display block
        text-align center
        margin 30px auto


.schedule
    &__day
        padding-right 5px
        width 50%
    &__time
        color $yellow
        text-align right
        width 50%


.mail
    &__line
        font-size 16px
        color #fff



.breadcrumbs
    &__box
        list-style none
        padding 15px 0
        margin 0


    &__item
        display inline-block
        padding 0 10px
        box-sizing border-box
        bdr(bottom, transparent, 2px)
        trns($th, border-color)
        &--first
            padding-left 0
        &:hover
            border-color $yellow


    &__link
        color $grayDark
        &--first
            color $gray


.sidebar
    size(3)
    size-md(12)
    position relative
    md display flex
    md flex-wrap wrap

    &__box
        box-sizing border-box
        md width 40%
        md margin-right 10%
        md background url($pattern)
        xs width 100%
        xs margin-right 0
        xs margin-bottom 10px
        bdrOne($blueLight, 4px)




    &__control
        display none
        md display block
        text-align center
        font-size 16px
        padding 5px 0

    &__drop
        z-index 1000
        box-sizing border-box
        md background #fff
        md position absolute
        md width 40%
        md margin-right 10%
        &--hidden
            md max-height 0
            overflow hidden
            transition max-height $th ease-in-out
        &--visible
            height auto
            max-height 400px
            overflow hidden
            transition max-height $th ease-in-out
            md border-color $blueLight
            md border-width 1px
            md border-style solid
            md border-radius 4px




.category
    size(9)
    size-md(12)
    background yellow
    &__title
        text-align center


.filter
    &__block
        display block
        margin 10px
        padding-bottom 25px
        display flex
        flex-wrap wrap
        bdr(bottom, $blueLight, 1px)
    &__head
        text-align center
        font-weight bold
        font-size 14px
        width 100%
    &__row
        width 50%
        md width 100%




/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}




/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
    cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative; /* будем позиционировать псевдочекбокс относительно label */
    padding: 0 0 0 35px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    bdrOne($blueLight)
    background: $fff;
}

/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px
    left: 2px
    width: 22px;
    height: 22px;
    border-radius: 50%;
    bdrOne(transparent)
    background-coclor: #fff;
    background-image none
    background-position 50% 50%

    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
///* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
//    background: $yellow;
}
///* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
    background: $yellow url("/img/checkbox__bg.png") no-repeat 50% 50%;
}
///* Показываем получение фокуса. */
//.checkbox:focus + label:before {
//    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
//}