




@import 'lib/smart-grid.styl';
@import 'lib/fonts-lib.styl';
@import 'lib/mixin-lib.styl';
@import 'lib/var-lib.styl';

@import 'lib/fancybox-lib.styl';
@import 'lib/standart-lib.styl';
@import 'lib/slick-lib.styl';
@import 'lib/slick-theme-lib.styl';








.img
    font 0/0 a
    border 0

.link
    text-decoration none
    color $yellow

.table
    width 100%
    margin 0
    padding 0
    border-collapse collapse
    border-spacing 0



.article
    &__paragraph
        padding 0
        margin 0
.title
    font-family: 'Raleway', sans-serif
    margin 0
    padding 0



.titleLine
    font-family: 'Raleway', sans-serif
    font-weight 600
    padding 5px 65px
    &--main
        text-align center
    &__text
        position relative
        font-size 24px
        sm font-size 20px
        sm display block
        sm text-align center
        &::before
            content ""
            position absolute
            width 55px
            height 2px
            background $yellow
            left -65px
            top 50%
        &::after
            content ""
            position absolute
            width 55px
            height 2px
            background $yellow
            right -65px
            top 50%
    &__xl
        font-size 30px
    &__md
        font-size 24px


.debug
    debug(rgba(0, 0, 0, 0.5), 1px solid #666)

.page
    &--theme
        font 14px/2.14 'Roboto', sans-serif
        min-height 100vh
        margin 0
        color $grayDark
        background #fff
        min-width 100%
        min-height 100%



.layout
    &__topMenu
        wrapper()
    &__header
        wrapper()
    &__middleMenu
        wrapper()
    &__title
        wrapper()
    &__hitProducts
        wrapper()
    &__main
        wrapper()
    &__footer
        wrapper()
        margin-top 100px
    &__breadcrumbs
        wrapper()
    &__content
        wrapper()
    &__row
        row-flex()
    &__cell
        col()









.line
    width 100%
    &--bdr
        bdr(bottom, $grayLight)

    &--bg
        &Yellow
            background $yellowLight
        &Gray
            background $grayDark

.header
    padding-top 40px
    padding-bottom 40px
    &__inner
        row-flex()
    &__logo
        col()
        size(3)
        size-md(6)
        md order 0
        text-align center
        align-self center

    &__address
        col()
        size(3)
        size-md(6)
        md order 2
        align-self center
        md text-align center
        md margin-top 30px
    &__phone
        col()
        size(3)
        size-md(6)
        md order 3
        align-self center
        text-align center
        md margin-top 30px

    &__miniCart
        col()
        size(3)
        size-md(6)
        md order 1
        align-self center


.topMenu
    &__control
        display none
        md display block
        padding-left 40px
        background url("/img/sandwich__ico.png")        no-repeat 5px 50%
        text-decoration none
        color $grayDark
        font-size  18px
        trns($th,color)
        &:hover
            color $yellow

    &__drop
        md position absolute
        background #ffffff
        z-index 1000
        &--hidden
            md max-height 0
            overflow hidden
            transition max-height $th ease-in-out
        &--visible
            height auto
            max-height 400px
            overflow hidden
            transition max-height $th ease-in-out


    &__link
        display inline-block
        text-decoration none
        padding 0 15px
        color $grayDark
        trns($th, background )
        md display block
        md background-color #fff
        md margin-bottom 2px
        md font-size 16px
        md padding-left 40px
        md padding-right 30px
        md border-width 1px
        md border-color $grayLight
        md border-style solid
        &:hover
            background $yellowLight
        &--first
            position relative
            padding-left 25px
            md padding-left 40px
            &::before
                content ""
                background url("/img/home__ico.png") no-repeat
                width 13px
                height 11px
                position absolute
                bottom 10px
                left 5px
                md background none
                md position relative
                md height 0
                md width 0






.logo
    &__img
        display block
        margin auto
        max-width 100%
.address
    &__line
        position relative
        padding-left 30px
        md padding-left 20px
        sm font-size 13px

        &::before
            content ""
            background url("/img/mapMark.png") no-repeat
            position absolute
            height 19px
            width 14px
            left 0

.phone
    &__line
        display block
        sm font-size 13px
        &--footer
            text-decoration underline

.miniCart
    display flex
    &__image
        align-self center
        position relative
        width 50%

        text-align right
    &__img
        max-width 100%
        align-self center
        display inline-block
        margin auto

    &__totalItem
        align-self center
        display block
        position absolute
        background $yellow
        border-radius 30%
        line-height 14px
        padding 2px 7px
        right 47px
    &__info
        align-self center
        width 50%
        text-align center
        line-height 20px







.middleMenu
    &__control
        display none
        sm display block
        padding-left 40px
        padding-top 5px
        padding-bottom 5px
        background $yellow url("/img/sandwich__ico.png")        no-repeat 5px 50%
        text-decoration none
        color $grayDark
        font-size  18px
        trns($th,background-color)
        &:hover
            background-color $yellowLight
    &__drop
        background $yellow
        sm background #fff
        sm position absolute
        z-index 1000
        &--hidden
            sm max-height 0
            overflow hidden
            transition max-height $th ease-in-out
        &--visible
            height auto
            max-height 400px
            overflow hidden
            transition max-height $th ease-in-out


    &__link
        display inline-block
        text-decoration none
        padding 5px 55px
        md padding-left 50px
        md padding-right 50px
        color $grayDark
        trns($th, background )
        font-size 16px
        bdr(right, $yellowLight, 2px)
        sm display block
        sm background-color $yellowLight
        sm margin-bottom 2px
        sm font-size 16px
        sm padding-left 40px
        sm padding-right 50px
        &--first
            sm margin-top 2px
        &:hover
            background $yellowLight



.hitProducts
    &__title
        padding-bottom 10px
    &__inner
        width 100%
        background url($pattern)
        position relative

.slick-track
    display flex
    align-items stretch

.item
    text-align center
    padding-bottom 10px
    display flex
    flex-direction column

    &__title
        font-size 16px
        text-transform uppercase
        padding-top 10px
        padding-bottom 10px
        md font-size 14px
        flex-grow 1

    &__link
        color $grayDark
    &__img
        max-width 100%
    &__price
        background #fff
        padding 2px 10px
        display inline-block
        font-size 14px
        align-self center




.main
    sm padding-bottom 30px



.article
    &__title
        padding-top 30px
        padding-bottom 0px
        display block

.footer
    color #fff
    &__item
        size(3)
        size-md(6)
        size-sm(12)
        sm text-align center
        padding-bottom 20px
    &__title
        font-size 18px
        bdr(bottom, #fff, 2px)
        margin-bottom 20px


    &__menuItem
        display block
        color #fff
        trns($th,color)
        &:hover
            color $yellow

    &__schedule
        width 100%
    &__logo
        padding-top 20px
        display block
        margin auto

    &__phone
        display block
        text-align center
        margin 30px auto
    &__mail
        display block
        text-align center
        margin 30px auto


.schedule
    &__day
        padding-right 5px
        width 50%
    &__time
        color $yellow
        text-align right
        width 50%

    &__value
        font-style italic


.mail
    &__link
        font-size 16px
        text-decoration none
        color $grayDark
        &--white
            color white




.breadcrumbs
    &__box
        list-style none
        padding 15px 0
        margin 0


    &__item
        display inline-block
        padding 0 10px
        box-sizing border-box
        bdr(bottom, transparent, 2px)
        trns($th, border-color)
        &--first
            padding-left 0
        &:hover
            border-color $yellow


    &__link
        color $grayDark
        &--first
            color $gray


.sidebar
    size(3)
    size-md(12)
    position relative
    md display flex
    md flex-wrap wrap

    &__box
        box-sizing border-box
        md width 40%
        md margin-right 10%
        md background url($pattern)
        xs width 100%
        xs margin-right 0
        margin-bottom 10px
        bdrOne($blueLight, 4px)





.category
    size(9)
    size-md(12)
    &__title
        text-align center


.filter
    &__control
        display block
        md display block
        text-align center
        font-size 16px
        padding 5px 0
        bdr(bottom, $blueLight)
    &__drop
        z-index 1000
        box-sizing border-box
        md background #fff
        md position absolute
        md width 40%
        md margin-right 10%
        xs width 100%
        xs margin-right 0
        &--hidden
            md max-height 0
            overflow hidden
            transition max-height $th ease-in-out
        &--visible
            height auto
            max-height 400px
            overflow hidden
            transition max-height $th ease-in-out
            border-width 1px
            border-style solid
            border-radius 4px
            border-color transparent
            md border-color $blueLight

    &__block
        display block
        margin 10px
        padding-bottom 25px
        display flex
        flex-wrap wrap
        bdr(bottom, $blueLight, 1px)
    &__head
        text-align center
        font-weight bold
        font-size 14px
        width 100%
    &__row
        width 50%
        md width 100%







.certificates
    &__img
        max-width 100%
    &__control
        display block
        md display block
        text-align center
        font-size 16px
        padding 5px 0
        bdr(bottom, $blueLight)
    &__drop
        z-index 1000
        box-sizing border-box
        md background #fff
        md position absolute
        md width 40%
        md margin-right 10%
        xs width 100%
        xs margin-right 0
        &--hidden
            md max-height 0
            overflow hidden
            transition max-height $th ease-in-out
        &--visible
            height auto
            max-height 1100px
            overflow hidden
            transition max-height $th ease-in-out
            border-width 1px
            border-style solid
            border-radius 4px
            border-color transparent
            md border-color $blueLight




.dignity
    padding 20px 0
    &__inner
        display flex
        flex-wrap wrap
        justify-content center

    &__item
        width 16%
        sm width 15%
        sm width 30%
        sm padding-top 10px
        sm padding-bottom 10px
    &__img
        display block
        max-width 100%
        margin auto
    &__title
        text-align center
        line-height 20px
        sm font-size 13px


.sorting
    padding 20px 0
    &__inner
        row-flex()
    &__item
        col()
        size(4)

    &__label
        display block
        color $grayLight





.list
    row-flex()
    &__snippet
        margin-bottom 20px

.snippet
    size(4)
    size-xs(6)
    size-xls(6)
    bdrOne($grayLight)
    border-radius 4px
    box-shadow: 0px 2px 5px 0px rgba($grayLight, 0.75)

    &__img
        max-width calc(100% - 3px)
        display block
        margin auto
        padding 3px
        box-sizing border-box
    &__title
        text-transform uppercase
        text-align center
        padding 10px 0
    &__box
        display flex
        flex-wrap wrap
        padding 10px 5px 20px
    &__price
        font-size 20px
        width 50%
        sm width 100%
        text-align center
    &__button
        width 50%
        sm width 100%
        line-height 40px
        text-align center



.pagination
    &__inner
        margin 0
        padding 30px 0
        text-align center
    &__item
        display inline-block
        list-style none
        bdrOne($gray)
        border-right none
        &:first-child
            border-radius 3px 0 0 3px
            border-right none
        &:last-child
            border-radius 0 3px 3px 0
            bdrOne($gray)

    &__link
        color $gray
        display block
        padding 0 10px
        trns($th, background)
        &:hover
            background $yellow

    &__active
        color $gray
        display block
        padding 0 10px
        trns($th, background)
        &:hover
            background $yellow





.product
    &__inner
        row-flex()
    &__gallery
        col()
        size(6)
        size-xs(12)
    &__offer
        col()
        size(6)
        size-xs(12)
    &__title
        font-size 30px
        sm text-align left
        xs text-align center
    &__article
        text-transform uppercase
        margin-bottom 30px
        xs text-align center
    &__price
        font-size 24px
        xs text-align center
    &__description
        col()
    &__spec
        col()
        width 100%


.gallery
    &__img
        width 100%



    &__thumbItem
        display inline-block
        width 24%
        padding-left 15px
        padding-right 15px
        box-sizing border-box

    &__thumbsImg
        max-width 100%



.offer
    xs text-align center
    &__button
        //padding 10px 15px
        margin 10px 0 20px 0
        font-size 16px
        height 38px
        line-height 38px
        border-radius 4px


.callback
    &__input
        width 50%
        md width 100%
        display block
    &__control
        font-size 16px
        height 38px
        line-height 38px



.spec
    &__row
        cursor pointer
        &:hover
            background $yellowLight
    &__name
        bdrOne($grayLight)
        width 70%
        padding 15px 5px 15px 35px
        xs width 60%
        xs padding-left 5px
    &__value
        bdrOne($grayLight)
        width 30%
        padding 15px 5px 15px 35px
        xs width 40%
        xs padding-left 5px

.checkoutOffers
    margin-bottom 50px

.checkoutOffer
    row-flex()
    col()
    size(12)
    bdrOne($grayLight,4px)
    &__item
        col()
        align-self center
        xs text-align center
        xs padding-bottom 20px
        &--type
            &--number
                size(1)
                sm display none
                size-sm(0)
                size-xs(6)
                xs order 0
                xs display block

                xs height 21px
                xs line-height 21px
                xs padding-top 10px
                xs text-align left


            &--img
                size(3)
                size-sm(2)
                size-xs(12)
                xs order 2
                padding 0
                box-sizing border-box

            &--content
                size(5)
                size-sm(6)
                size-xs(12)
                xs order 3
            &--count
                size(2)
                size-sm(3)
                size-xs(12)
                xs order 4

            &--del
                size(1)
                size-sm(1)
                size-xs(6)
                align-self flex-start
                xs order 0
                xs padding-top 10px
                xs align-self center



    &__number
        background $yellow
        bdrOne($yellow,50%)
        width 24px
        height 24px
        line-height 24px
        display inline-block

        text-align center
    &__img
        box-sizing border-box
        max-width 100%
        height auto
        display block
        margin 0
        padding 15px
        md padding 0
        xs margin auto

    &__itemName
        font-size 30px
        md font-size 24px
        sm font-size 22px
        line-height 32px
        font-weight 600
    &__itemPrice
        font-size 24px
        md font-size 20px
        sm font-size 18px

    &__delete
        position relative

.amountSelect
    display inline-block
    &__button
        margin 0
        padding 0
        font-size 16px
        height 38px
        line-height 38px
        width 28px
        md width 20px

    &__input
        margin 0
        padding  0
        font-size 16px
        height 38px
        line-height 38px
        width 52px
        md width 42px
        border-radius none




    &__control
        height 38px
        line-height 38px
        text-align center



.imageDelete
    background url("/img/delete__ico.png") no-repeat 0 0
    height 21px
    width 21px
    display block
    position absolute
    right 0px
    top 10px
    xs top 0





.checkoutOrder
    display block
    &__inner
        row-flex()
        justify-content flex-end
        sm justify-content center

    &__formOrder
        col()
        size(3)
        size-md(4)
        size-sm(6)
        background blue

    &__input
        width 100%
        background red

    &__fullPrice
        display block
        text-align right
        font-size 24px

    &__button
        width 100%
        padding 15px 0






.comments
    &__total
        font-size 24px
    &__more
        margin 50px 0
    &__buttonMore
        text-align center



.comment
    &__box
        background url($pattern)
        padding 40px 0
        row-flex()
        margin 15px 0
        sm margin-bottom 50px

    &__user
        col()
        size(2)
        size-xs(12)
    &__snippet
        col()
        size(10)
        size-xs(12)
    &__date
        text-align right


.user
    &__avatar
        text-align center
    &__name
        text-transform uppercase
        text-align center
        background white



.formComment
    &__commentator
        col()
        size(4)
        size-sm(12)
    &__input
        width 80%
        display block
        margin-bottom 20px
    &__area
        width 100%

    &__controlArea
        line-height 24px


    &__sum
        width 300px

    &__label
        font-weight bold
    &__control
        line-height 34px

    &__message
        col()
        size(8)
        size-sm(12)
        padding-bottom 20px
    &__submitBox
        col()
        size-sm(12)
        text-align right
        md text-align center
        display block
        width 100%
    &__submit
        font-size 16px
        padding 15px 35px





.contacts
    &__inner
        background pink
    &__box
        col()

        padding-bottom 20px

.contact
    &__phone
        size(6)
        size-sm(12)
    &__mail
        size(6)
        size-sm(12)
    &__social
        size(6)
        size-sm(12)
    &__schedule
        size(6)
        size-sm(12)
    &__address
        size(6)
        size-sm(12)
    &__title
        font-size 24px

.social
    &__line
        display block
